doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/levels-style.min.css")
        title Enigma
    body 
        - let level = "Другий рівень"
        - let levelDescr = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae ullam asperiores minima! Voluptatibus tempore provident consequuntur distinctio fuga saepe quidem, optio totam accusamus nemo ad perferendis odio rerum voluptatum."

        include includes/menu.pug
        include includes/promo.pug

        section.items
            - 
                let items = [
                    {
                            header: "Box",
                            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aut, dolore reiciendis praesentium molestiae culpa molestias, corporis, blanditiis voluptatum enim facere vel. Aperiam cumque ipsum magnam qui mollitia quod laudantium!",
                            firstImg: "../img/second_level/huzzle_box.jpg",
                            secondImg: "../img/second_level/huzzle_box.jpg",
                            price: 459
                    },
                    {
                            header: "Harmony",
                            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi quidem architecto! Aspernatur dolorem dicta expedita doloribus voluptatibus, similique fuga eaque qui odit? Aperiam ad officia, veniam earum fugit sed.",
                            firstImg: "../img/Second_level/huzzle_harmony.jpg",
                            secondImg: "../img/second_level/huzzle_harmony.jpg",
                            price: 439,
                            discount: 419
                    },
                    {
                            header: "Hook",
                            descr: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, sit blanditiis aspernatur eligendi iusto cumque, aliquid quisquam cum beatae animi neque modi eaque suscipit asperiores nam facere ipsum a doloribus.",
                            firstImg: "../img/second_level/huzzle_hook.jpg",
                            secondImg: "../img/second_level/huzzle_hook.jpg",
                            price: 339
                    },
                    {
                            header: "Key",
                            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore corporis eveniet ipsum quidem debitis ab veritatis, voluptatibus et voluptatem libero dolorum blanditiis ut, assumenda velit, provident accusantium natus suscipit!",
                            firstImg: "../img/second_level/huzzle_key.jpg",
                            secondImg: "../img/second_level/huzzle_key.jpg",
                            price: 449,
                            discount: 419
                    }
                ]
            each item in items
                include includes/item.pug

        include includes/footer.pug