footer.footer
            .container 
                .footer__creators Сайт створений учнями ЗСШФМП №12 10-Б класу Шадурою Дмитром Сергійовичем та Пусем Павлом Сергійовичем
                .footer__links 
                    a(href="#").footer__link Служба підтримки
                    .footer__divider
                    a(href="#").footer__link Політика конфіденційності
                .footer__call Зателефонувати нам 8-800-555-35-35