section.promo 
            .container 
                h1.promo__title Enigma
                img.promo__logo(src="../icons/logo.png", alt="logo")
                h2.promo__subtitle #{level}
                .divider
                .promo__text #{levelDescr}
                //- .promo__questions 
                //-     .promo__questions__text Якщо ви маєте деякі запитання, ви можете
                //-     button.promo__questions__btn Зателефонувати нам
                .promo__more 
                    .promo__more__text Дізнайтеся більше
                    img.promo__more__down(src="../icons/down.png", alt="down")